In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.4.1.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 4.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.1-py2.py3-none-any.whl size=311285387 sha256=aa4dfa43161cf62e270f13c56780b1e9c8568db0b9e575f11d3a83eaf004465f
  Stored in directory: /root/.cache/pip/wheels/0d/77/a3/ff2f74cc9ab41f8f594dabf0579c2a7c6de920d584206e0834
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.1

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()

In [ ]:
df=spark.read.csv("/content/insurance.csv",header=True,inferSchema=True)

In [ ]:
df.show(5)

+---+------+----+--------+------+---------+--------+
|age|   sex| bmi|children|smoker|   region|expenses|
+---+------+----+--------+------+---------+--------+
| 19|female|27.9|       0|   yes|southwest|16884.92|
| 18|  male|33.8|       1|    no|southeast| 1725.55|
| 28|  male|33.0|       3|    no|southeast| 4449.46|
| 33|  male|22.7|       0|    no|northwest|21984.47|
| 32|  male|28.9|       0|    no|northwest| 3866.86|
+---+------+----+--------+------+---------+--------+
only showing top 5 rows

In [ ]:
df.groupBy("region").count().show()

+---------+-----+
|   region|count|
+---------+-----+
|northwest|  325|
|southeast|  364|
|northeast|  324|
|southwest|  325|
+---------+-----+

In [ ]:
df.groupBy("smoker").min("expenses").show()

+------+-------------+
|smoker|min(expenses)|
+------+-------------+
|    no|      1121.87|
|   yes|     12829.46|
+------+-------------+

In [ ]:
df.filter(df.age<20).count()

137

In [ ]:
df.filter((df.age<20)&(df.smoker=="yes")).show(5)

+---+------+----+--------+------+---------+--------+
|age|   sex| bmi|children|smoker|   region|expenses|
+---+------+----+--------+------+---------+--------+
| 19|female|27.9|       0|   yes|southwest|16884.92|
| 18|  male|31.7|       2|   yes|southeast|34303.17|
| 19|female|28.3|       0|   yes|southwest|17081.08|
| 18|  male|25.2|       0|   yes|northeast|15518.18|
| 18|female|36.9|       0|   yes|southeast|36149.48|
+---+------+----+--------+------+---------+--------+
only showing top 5 rows

In [ ]:
df.groupBy("sex").count().show()

+------+-----+
|   sex|count|
+------+-----+
|female|  662|
|  male|  676|
+------+-----+

In [ ]:
df.groupBy("children").min().show()

+--------+--------+--------+-------------+-------------+
|children|min(age)|min(bmi)|min(children)|min(expenses)|
+--------+--------+--------+-------------+-------------+
|       1|      18|    16.8|            1|      1711.03|
|       3|      18|    18.9|            3|      3443.06|
|       5|      19|    18.3|            5|       4687.8|
|       4|      18|    24.4|            4|      4504.66|
|       2|      18|    16.8|            2|       2304.0|
|       0|      18|    16.0|            0|      1121.87|
+--------+--------+--------+-------------+-------------+

In [ ]:
df1=df.groupBy("children").max()
df1.show()

+--------+--------+--------+-------------+-------------+
|children|max(age)|max(bmi)|max(children)|max(expenses)|
+--------+--------+--------+-------------+-------------+
|       1|      64|    52.6|            1|     58571.07|
|       3|      64|    46.5|            3|      60021.4|
|       5|      52|    46.8|            5|     19023.26|
|       4|      61|    41.5|            4|     40182.25|
|       2|      64|    48.1|            2|     49577.66|
|       0|      64|    53.1|            0|     63770.43|
+--------+--------+--------+-------------+-------------+

In [ ]:
df1.sort("children").show()

+--------+--------+--------+-------------+-------------+
|children|max(age)|max(bmi)|max(children)|max(expenses)|
+--------+--------+--------+-------------+-------------+
|       0|      64|    53.1|            0|     63770.43|
|       1|      64|    52.6|            1|     58571.07|
|       2|      64|    48.1|            2|     49577.66|
|       3|      64|    46.5|            3|      60021.4|
|       4|      61|    41.5|            4|     40182.25|
|       5|      52|    46.8|            5|     19023.26|
+--------+--------+--------+-------------+-------------+