In [ ]:
!pip install -qq pyspark

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 4.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
  Building wheel for pyspark (setup.py) ... done

In [ ]:
import pyspark
from pyspark.sql import SparkSession

In [ ]:
spark=SparkSession.builder.appName('sparkdf').getOrCreate()

In [ ]:
data=[
    ["21ALR001", "akilan", "KEC", "AI",77, 98],
    ["21ALR002", "arun", "KEC","AI", 78, 87],
    ["21ALR003", "arunesh", "IIT", "AI", 48, 69],
    ["21ALR004", "arvind", "KEC", "AI",13, 65],
    ["21ALR005", "ashok", "KEC", "CSE", 76, 82],
    ["21ALR006", "dhanush", "IIT", "AI", 100, 100],
    ["21ALR007", "divish", "IIT", "CSE",87, 69],
    ["21ALR008", "gowtham", "IIT","AI", 69, 96],
    ["21ALR009", "hardik", "KEC","AI", 86, 88],
    ["21ALR010", "kalki", "IIT", "IT", 90, 60],
    ]

In [ ]:
columns=['studentID', 'studentname', 'collegename','dept','subject1', 'subject2']

In [ ]:
df=spark.createDataFrame(data,columns)
df.show()

+---------+-----------+-----------+----+--------+--------+
|studentID|studentname|collegename|dept|subject1|subject2|
+---------+-----------+-----------+----+--------+--------+
| 21ALR001|     akilan|        KEC|  AI|      77|      98|
| 21ALR002|       arun|        KEC|  AI|      78|      87|
| 21ALR003|    arunesh|        IIT|  AI|      48|      69|
| 21ALR004|     arvind|        KEC|  AI|      13|      65|
| 21ALR005|      ashok|        KEC| CSE|      76|      82|
| 21ALR006|    dhanush|        IIT|  AI|     100|     100|
| 21ALR007|     divish|        IIT| CSE|      87|      69|
| 21ALR008|    gowtham|        IIT|  AI|      69|      96|
| 21ALR009|     hardik|        KEC|  AI|      86|      88|
| 21ALR010|      kalki|        IIT|  IT|      90|      60|
+---------+-----------+-----------+----+--------+--------+

In [ ]:
df.printSchema()

root
 |-- studentID: string (nullable = true)
 |-- studentname: string (nullable = true)
 |-- collegename: string (nullable = true)
 |-- dept: string (nullable = true)
 |-- subject1: long (nullable = true)
 |-- subject2: long (nullable = true)

In [ ]:
from os import truncate
df.show(n=5,truncate=12)

+---------+-----------+-----------+----+--------+--------+
|studentID|studentname|collegename|dept|subject1|subject2|
+---------+-----------+-----------+----+--------+--------+
| 21ALR001|     akilan|        KEC|  AI|      77|      98|
| 21ALR002|       arun|        KEC|  AI|      78|      87|
| 21ALR003|    arunesh|        IIT|  AI|      48|      69|
| 21ALR004|     arvind|        KEC|  AI|      13|      65|
| 21ALR005|      ashok|        KEC| CSE|      76|      82|
+---------+-----------+-----------+----+--------+--------+
only showing top 5 rows

In [ ]:
df.select('*').show()

+---------+-----------+-----------+----+--------+--------+
|studentID|studentname|collegename|dept|subject1|subject2|
+---------+-----------+-----------+----+--------+--------+
| 21ALR001|     akilan|        KEC|  AI|      77|      98|
| 21ALR002|       arun|        KEC|  AI|      78|      87|
| 21ALR003|    arunesh|        IIT|  AI|      48|      69|
| 21ALR004|     arvind|        KEC|  AI|      13|      65|
| 21ALR005|      ashok|        KEC| CSE|      76|      82|
| 21ALR006|    dhanush|        IIT|  AI|     100|     100|
| 21ALR007|     divish|        IIT| CSE|      87|      69|
| 21ALR008|    gowtham|        IIT|  AI|      69|      96|
| 21ALR009|     hardik|        KEC|  AI|      86|      88|
| 21ALR010|      kalki|        IIT|  IT|      90|      60|
+---------+-----------+-----------+----+--------+--------+

In [ ]:
df.select(df.columns[1:3]).show()

+-----------+-----------+
|studentname|collegename|
+-----------+-----------+
|     akilan|        KEC|
|       arun|        KEC|
|    arunesh|        IIT|
|     arvind|        KEC|
|      ashok|        KEC|
|    dhanush|        IIT|
|     divish|        IIT|
|    gowtham|        IIT|
|     hardik|        KEC|
|      kalki|        IIT|
+-----------+-----------+

In [ ]:
datacollect=df.collect()
print(datacollect)

[Row(studentID='21ALR001', studentname='akilan', collegename='KEC', dept='AI', subject1=77, subject2=98), Row(studentID='21ALR002', studentname='arun', collegename='KEC', dept='AI', subject1=78, subject2=87), Row(studentID='21ALR003', studentname='arunesh', collegename='IIT', dept='AI', subject1=48, subject2=69), Row(studentID='21ALR004', studentname='arvind', collegename='KEC', dept='AI', subject1=13, subject2=65), Row(studentID='21ALR005', studentname='ashok', collegename='KEC', dept='CSE', subject1=76, subject2=82), Row(studentID='21ALR006', studentname='dhanush', collegename='IIT', dept='AI', subject1=100, subject2=100), Row(studentID='21ALR007', studentname='divish', collegename='IIT', dept='CSE', subject1=87, subject2=69), Row(studentID='21ALR008', studentname='gowtham', collegename='IIT', dept='AI', subject1=69, subject2=96), Row(studentID='21ALR009', studentname='hardik', collegename='KEC', dept='AI', subject1=86, subject2=88), Row(studentID='21ALR010', studentname='kalki', collegename='IIT', dept='IT', subject1=90, subject2=60)]

In [ ]:
df.filter(df.dept=="CSE").show()

+---------+-----------+-----------+----+--------+--------+
|studentID|studentname|collegename|dept|subject1|subject2|
+---------+-----------+-----------+----+--------+--------+
| 21ALR005|      ashok|        KEC| CSE|      76|      82|
| 21ALR007|     divish|        IIT| CSE|      87|      69|
+---------+-----------+-----------+----+--------+--------+

In [ ]:
df.filter(~(df.dept=="AI")).show(truncate=12)

+---------+-----------+-----------+----+--------+--------+
|studentID|studentname|collegename|dept|subject1|subject2|
+---------+-----------+-----------+----+--------+--------+
| 21ALR005|      ashok|        KEC| CSE|      76|      82|
| 21ALR007|     divish|        IIT| CSE|      87|      69|
| 21ALR010|      kalki|        IIT|  IT|      90|      60|
+---------+-----------+-----------+----+--------+--------+

In [ ]:
df.filter("dept <> 'AI'").show()

+---------+-----------+-----------+----+--------+--------+
|studentID|studentname|collegename|dept|subject1|subject2|
+---------+-----------+-----------+----+--------+--------+
| 21ALR005|      ashok|        KEC| CSE|      76|      82|
| 21ALR007|     divish|        IIT| CSE|      87|      69|
| 21ALR010|      kalki|        IIT|  IT|      90|      60|
+---------+-----------+-----------+----+--------+--------+

In [ ]:
df.filter((df.dept=="AI") & (df.subject1 > 85)).show()

+---------+-----------+-----------+----+--------+--------+
|studentID|studentname|collegename|dept|subject1|subject2|
+---------+-----------+-----------+----+--------+--------+
| 21ALR006|    dhanush|        IIT|  AI|     100|     100|
| 21ALR009|     hardik|        KEC|  AI|      86|      88|
+---------+-----------+-----------+----+--------+--------+

In [ ]:
df.filter((df.dept=="IT") | (df.studentID=="21ALR002")).show()

+---------+-----------+-----------+----+--------+--------+
|studentID|studentname|collegename|dept|subject1|subject2|
+---------+-----------+-----------+----+--------+--------+
| 21ALR002|       arun|        KEC|  AI|      78|      87|
| 21ALR010|      kalki|        IIT|  IT|      90|      60|
+---------+-----------+-----------+----+--------+--------+

In [ ]:
li=["CSE","IT"]
df.filter(df.dept.isin(li)==True).show()

+---------+-----------+-----------+----+--------+--------+
|studentID|studentname|collegename|dept|subject1|subject2|
+---------+-----------+-----------+----+--------+--------+
| 21ALR005|      ashok|        KEC| CSE|      76|      82|
| 21ALR007|     divish|        IIT| CSE|      87|      69|
| 21ALR010|      kalki|        IIT|  IT|      90|      60|
+---------+-----------+-----------+----+--------+--------+

In [ ]:
df.filter(df.dept.startswith("C")).show()

+---------+-----------+-----------+----+--------+--------+
|studentID|studentname|collegename|dept|subject1|subject2|
+---------+-----------+-----------+----+--------+--------+
| 21ALR005|      ashok|        KEC| CSE|      76|      82|
| 21ALR007|     divish|        IIT| CSE|      87|      69|
+---------+-----------+-----------+----+--------+--------+

In [ ]:
df.filter(df.studentID.endswith("10")).show()

+---------+-----------+-----------+----+--------+--------+
|studentID|studentname|collegename|dept|subject1|subject2|
+---------+-----------+-----------+----+--------+--------+
| 21ALR010|      kalki|        IIT|  IT|      90|      60|
+---------+-----------+-----------+----+--------+--------+

In [ ]:
df.filter(df.dept.contains("T")).show()

+---------+-----------+-----------+----+--------+--------+
|studentID|studentname|collegename|dept|subject1|subject2|
+---------+-----------+-----------+----+--------+--------+
| 21ALR010|      kalki|        IIT|  IT|      90|      60|
+---------+-----------+-----------+----+--------+--------+

In [ ]:
df.filter(df.studentname.like("%arun%")).show()

+---------+-----------+-----------+----+--------+--------+
|studentID|studentname|collegename|dept|subject1|subject2|
+---------+-----------+-----------+----+--------+--------+
| 21ALR002|       arun|        KEC|  AI|      78|      87|
| 21ALR003|    arunesh|        IIT|  AI|      48|      69|
+---------+-----------+-----------+----+--------+--------+

In [ ]:
df.sort("dept").show()

+---------+-----------+-----------+----+--------+--------+
|studentID|studentname|collegename|dept|subject1|subject2|
+---------+-----------+-----------+----+--------+--------+
| 21ALR006|    dhanush|        IIT|  AI|     100|     100|
| 21ALR001|     akilan|        KEC|  AI|      77|      98|
| 21ALR008|    gowtham|        IIT|  AI|      69|      96|
| 21ALR002|       arun|        KEC|  AI|      78|      87|
| 21ALR009|     hardik|        KEC|  AI|      86|      88|
| 21ALR003|    arunesh|        IIT|  AI|      48|      69|
| 21ALR004|     arvind|        KEC|  AI|      13|      65|
| 21ALR007|     divish|        IIT| CSE|      87|      69|
| 21ALR005|      ashok|        KEC| CSE|      76|      82|
| 21ALR010|      kalki|        IIT|  IT|      90|      60|
+---------+-----------+-----------+----+--------+--------+

In [ ]:
df.orderBy("dept").show()

+---------+-----------+-----------+----+--------+--------+
|studentID|studentname|collegename|dept|subject1|subject2|
+---------+-----------+-----------+----+--------+--------+
| 21ALR006|    dhanush|        IIT|  AI|     100|     100|
| 21ALR001|     akilan|        KEC|  AI|      77|      98|
| 21ALR008|    gowtham|        IIT|  AI|      69|      96|
| 21ALR002|       arun|        KEC|  AI|      78|      87|
| 21ALR009|     hardik|        KEC|  AI|      86|      88|
| 21ALR003|    arunesh|        IIT|  AI|      48|      69|
| 21ALR004|     arvind|        KEC|  AI|      13|      65|
| 21ALR007|     divish|        IIT| CSE|      87|      69|
| 21ALR005|      ashok|        KEC| CSE|      76|      82|
| 21ALR010|      kalki|        IIT|  IT|      90|      60|
+---------+-----------+-----------+----+--------+--------+

In [ ]:
df.sort(df.studentname.asc(),df.dept.desc()).show()

+---------+-----------+-----------+----+--------+--------+
|studentID|studentname|collegename|dept|subject1|subject2|
+---------+-----------+-----------+----+--------+--------+
| 21ALR001|     akilan|        KEC|  AI|      77|      98|
| 21ALR002|       arun|        KEC|  AI|      78|      87|
| 21ALR003|    arunesh|        IIT|  AI|      48|      69|
| 21ALR004|     arvind|        KEC|  AI|      13|      65|
| 21ALR005|      ashok|        KEC| CSE|      76|      82|
| 21ALR006|    dhanush|        IIT|  AI|     100|     100|
| 21ALR007|     divish|        IIT| CSE|      87|      69|
| 21ALR008|    gowtham|        IIT|  AI|      69|      96|
| 21ALR009|     hardik|        KEC|  AI|      86|      88|
| 21ALR010|      kalki|        IIT|  IT|      90|      60|
+---------+-----------+-----------+----+--------+--------+

In [ ]:
df.groupBy("dept").count().show()

+----+-----+
|dept|count|
+----+-----+
|  AI|    7|
| CSE|    2|
|  IT|    1|
+----+-----+

In [ ]:
df.groupBy("dept").min("subject1").show()

+----+-------------+
|dept|min(subject1)|
+----+-------------+
|  AI|           13|
| CSE|           76|
|  IT|           90|
+----+-------------+

In [ ]:
df.groupBy("dept").avg("subject1").show(truncate=10)

+----+-------------+
|dept|avg(subject1)|
+----+-------------+
|  AI|   67.2857...|
| CSE|         81.5|
|  IT|         90.0|
+----+-------------+

In [ ]:
#@title
df.groupBy("dept").mean("subject1").show()

+----+-----------------+
|dept|    avg(subject1)|
+----+-----------------+
|  AI|67.28571428571429|
| CSE|             81.5|
|  IT|             90.0|
+----+-----------------+

In [ ]:
from pyspark.sql.functions import sum,avg,max
df.groupBy("dept").agg(sum("subject1").alias("sum_subject1"),avg("subject1")).alias("avg_subject1").show()

+----+------------+-----------------+
|dept|sum_subject1|    avg(subject1)|
+----+------------+-----------------+
|  AI|         471|67.28571428571429|
| CSE|         163|             81.5|
|  IT|          90|             90.0|
+----+------------+-----------------+

In [ ]:
df.select(sum("subject2")).show()
df.agg({'subject1':'max','subject2':'min'}).show()

+-------------+
|sum(subject2)|
+-------------+
|          814|
+-------------+

+-------------+-------------+
|max(subject1)|min(subject2)|
+-------------+-------------+
|          100|           60|
+-------------+-------------+