In [ ]:
!pip install -q pyspark

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 3.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
  Building wheel for pyspark (setup.py) ... done

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()

In [ ]:
df=spark.read.csv("/content/IPL Player Stats - 2016 till 2019 - IPL Player Stats - 2016 till 2019.csv",header=True)
df.show(n=5)

+----------------+---------+----------+-------+---------------+-------+------------+-------------+---------------+-----------+-------------------+---+---+---+---+---+---------------+------------+--------------+-------------+-------------+--------------------+---------------+--------------------+-------------------+------------------+------------------+-------------+--------------+
|            Team|   Player|Tournament|Matches|Batting Innings|Not Out|Runds Scored|Highest Score|Batting Average|Balls Faced|Batting Strike Rate|100| 50|  0| 4s| 6s|Bowling Innings|Overs Bowled|Maidens Bowled|Runs Conceded|Wickets Taken|Best Bowling Figures|Bowling Average|Bowling Economy Rate|Bowling Strike Rate|4+ Innings Wickets|5+ Innings Wickets|Catches Taken|Stumpings Made|
+----------------+---------+----------+-------+---------------+-------+------------+-------------+---------------+-----------+-------------------+---+---+---+---+---+---------------+------------+--------------+-------------+-------------+--------------------+---------------+--------------------+-------------------+------------------+------------------+-------------+--------------+
|Delhi Daredevils|CH Morris|  IPL 2016|     12|              7|      4|         195|          82*|             65|        109|             178.89|  0|  1|  1| 15| 12|             12|          44|             0|          308|           13|                2/30|          23.69|                   7|               20.3|                 0|                 0|            8|             0|
|Delhi Daredevils|CH Morris|  IPL 2017|      9|              9|      4|         154|          52*|           30.8|         94|             163.82|  0|  1|  0| 15|  6|              9|          31|             0|          240|           12|                4/26|             20|                7.74|               15.5|                 1|                 0|            5|             0|
|Delhi Daredevils|CH Morris|  IPL 2018|      4|              4|      3|          46|          27*|             46|         26|             176.92|  0|  0|  0|  3|  2|              4|          14|             0|          143|            3|                2/41|          47.66|               10.21|                 28|                 0|                 0|            2|             0|
|Delhi Daredevils|JP Duminy|  IPL 2016|     10|              8|      3|         191|          49*|           38.2|        156|             122.43|  0|  0|  0| 13|  3|              5|           7|             0|           55|            2|                 1/4|           27.5|                7.85|                 21|                 0|                 0|            3|             0|
|Delhi Daredevils|Q de Kock|  IPL 2016|     13|             13|      1|         445|          108|          37.08|        327|             136.08|  1|  3|  0| 52| 13|              -|           -|             -|            -|            -|                   -|              -|                   -|                  -|                 -|                 -|            2|             2|
+----------------+---------+----------+-------+---------------+-------+------------+-------------+---------------+-----------+-------------------+---+---+---+---+---+---------------+------------+--------------+-------------+-------------+--------------------+---------------+--------------------+-------------------+------------------+------------------+-------------+--------------+
only showing top 5 rows

In [ ]:
df.select(df['Team'], df['Runds Scored']).show(n=5)

+----------------+------------+
|            Team|Runds Scored|
+----------------+------------+
|Delhi Daredevils|         195|
|Delhi Daredevils|         154|
|Delhi Daredevils|          46|
|Delhi Daredevils|         191|
|Delhi Daredevils|         445|
+----------------+------------+
only showing top 5 rows

In [ ]:
dfs = spark.read.csv('/content/sample_csv_file - sample_csv_file.csv')
dfs.show()

+-------+-----+-------+---------+
|    _c0|  _c1|    _c2|      _c3|
+-------+-----+-------+---------+
|   Name|Maths|Physics|Chemistry|
| Aditya|   45|     89|        1|
|  Chris|   86|     85|        2|
|   Joel| null|     85|        3|
|Katrina|   49|     47|        4|
| Agatha|   76|     89|        5|
|    Sam|   76|     98|        6|
+-------+-----+-------+---------+

In [ ]:
dfs = spark.read.csv('/content/sample_csv_file - sample_csv_file.csv',header=True)
dfs.show()
dfs.dtypes

+-------+-----+-------+---------+
|   Name|Maths|Physics|Chemistry|
+-------+-----+-------+---------+
| Aditya|   45|     89|        1|
|  Chris|   86|     85|        2|
|   Joel| null|     85|        3|
|Katrina|   49|     47|        4|
| Agatha|   76|     89|        5|
|    Sam|   76|     98|        6|
+-------+-----+-------+---------+

[('Name', 'string'),
 ('Maths', 'string'),
 ('Physics', 'string'),
 ('Chemistry', 'string')]

In [ ]:
dfs = spark.read.csv('/content/sample_csv_file - sample_csv_file.csv',header=True,inferSchema=True)
dfs.show()
dfs.dtypes

+-------+-----+-------+---------+
|   Name|Maths|Physics|Chemistry|
+-------+-----+-------+---------+
| Aditya|   45|     89|        1|
|  Chris|   86|     85|        2|
|   Joel| null|     85|        3|
|Katrina|   49|     47|        4|
| Agatha|   76|     89|        5|
|    Sam|   76|     98|        6|
+-------+-----+-------+---------+

[('Name', 'string'),
 ('Maths', 'int'),
 ('Physics', 'int'),
 ('Chemistry', 'int')]

In [ ]:
from pyspark.sql.types import StructType,StructField,IntegerType,StringType
list_of_cols = [StructField("Name",StringType(),True),
                StructField("Maths",IntegerType(),True),
                StructField("Physics",IntegerType(),True),
                StructField("Chemistry",IntegerType(),True)]
schema = StructType(list_of_cols)
dfs = spark.read.csv('/content/sample_csv_file - sample_csv_file.csv',header=True,schema=schema)
dfs.show()
print(dfs.dtypes)

+-------+-----+-------+---------+
|   Name|Maths|Physics|Chemistry|
+-------+-----+-------+---------+
| Aditya|   45|     89|        1|
|  Chris|   86|     85|        2|
|   Joel| null|     85|        3|
|Katrina|   49|     47|        4|
| Agatha|   76|     89|        5|
|    Sam|   76|     98|        6|
+-------+-----+-------+---------+

[('Name', 'string'), ('Maths', 'int'), ('Physics', 'int'), ('Chemistry', 'int')]

In [ ]:
dfs=spark.read.csv("/content/demo_file - demo_file.csv",sep="|",header=True, inferSchema=True)
dfs.show()
print(dfs.dtypes)

+------+----+--------+-----+
|  Name|Roll|Language|Extra|
+------+----+--------+-----+
|Aditya|   1|  Python|   11|
|   Sam|   2|    Java|   12|
| Chris|   3|  Python|   13|
|   Joe|   8|    Java|   14|
+------+----+--------+-----+

[('Name', 'string'), ('Roll', 'int'), ('Language', 'string'), ('Extra', 'int')]

In [ ]:
df5=spark.read.csv(["/content/demo_file - demo_file.csv","/content/demo_file - demo_file_2.csv"],sep="|",header=True)
df5.show()

+------+----+--------+-----+
|  Name|Roll|Language|Extra|
+------+----+--------+-----+
|Aditya|   1|  Python|   11|
|   Sam|   2|    Java|   12|
| Chris|   3|  Python|   13|
|   Joe|   8|    Java|   14|
|Aditya|   1|  Python|   11|
|   Sam|   2|    Java|   12|
| Chris|   3|  Python|   13|
|   Joe|   8|    Java|   14|
+------+----+--------+-----+

In [ ]:
dfs=spark.read.csv(["/content/student_data1 - student_data1.csv","/content/student_data2 - student_data2.csv"],header=True,inferSchema=True, sep="|")
dfs.show()

+------+----+----------+-----+-----+
|  Name|Roll|  Language|Extra|Grade|
+------+----+----------+-----+-----+
|Aditya|   1|    Python|   11|    A|
|   Sam|   2|      Java|   12|    A|
| Chris|   3|       C++|   13|   A+|
|  Joel|   4|TypeScript|   14|   A+|
|Aditya|   1|    Python| null| null|
|   Sam|   2|      Java| null| null|
| Chris|   3|       C++| null| null|
|  Joel|   4|TypeScript| null| null|
+------+----+----------+-----+-----+

In [ ]:
dfs.filter("Language != 'C#'").show()

+------+----+----------+-----+-----+
|  Name|Roll|  Language|Extra|Grade|
+------+----+----------+-----+-----+
|Aditya|   1|    Python|   11|    A|
|   Sam|   2|      Java|   12|    A|
| Chris|   3|       C++|   13|   A+|
|  Joel|   4|TypeScript|   14|   A+|
|Aditya|   1|    Python| null| null|
|   Sam|   2|      Java| null| null|
| Chris|   3|       C++| null| null|
|  Joel|   4|TypeScript| null| null|
+------+----+----------+-----+-----+

In [ ]:

dfs1=dfs.groupBy("Language").min("Extra")
dfs1.show()

+----------+----------+
|  Language|min(Extra)|
+----------+----------+
|       C++|        13|
|TypeScript|        14|
|    Python|        11|
|      Java|        12|
+----------+----------+